
Tensorflow/TF2020/Project_bullseye/.DS_Store
Tensorflow/TF2020/Project_bullseye/cocoapi/
Tensorflow/TF2020/Project_bullseye/models/
Tensorflow/TF2020/Project_Tarzhey/models/
Tensorflow/TF2020/Project_Tarzhey_main/models/
